.contacts-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.map-on-slide {
    width: 800px;
    height: 520px;
    max-height: 100%;
}
.contacts {
    width: max-content;
    height: 360px;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
}
.contacts > li {
    margin-bottom: 10px;
}
.e-mail {
    margin-bottom: 20px!important;
}
.contacts > li > a {
    color:black;
    padding-left: 40px;
    padding-top: 20px;
    position: relative;
}
.contacts > li:nth-child(3) {
    margin-bottom:20px;
}
.open-map:before {
    position: absolute;
    content:"";
    background-image: url("./map.svg");
    left: 0px;
    bottom: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.leave-feedback:before {
    position: absolute;
    content:"";
    background-image: url("./email.svg");
    left: 0px;
    bottom: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.copyright {
    margin-top: 20px;
}
.sign-up_online {
    margin-top: 40px;
    font-size: 16px;
}
.adress > dd,
.e-mail > dd {
    font-size: 18px;
}
.sign-up_online {
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    border:none;
    border-radius: 29px;
    background-color: rgb(247, 142, 106);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    width: 284px;
    height: 60px;
}
.sign-up_online:after {
    content:"";
    border-radius: 50%;
    background-image: -moz-linear-gradient( 0deg, rgba(247,142,106,0) 0%, rgb(252,102,162) 100%, rgb(252,102,162) 100%, rgb(252,102,162) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(247,142,106,0) 0%, rgb(252,102,162) 100%, rgb(252,102,162) 100%, rgb(252,102,162) 100%);
    background-image: linear-gradient( 0deg, rgba(247,142,106,0) 0%, rgb(252,102,162) 100%, rgb(252,102,162) 100%, rgb(252,102,162) 100%);
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 0;
    top: 0px;
    left: 0px;
}
.sign-up_online:before {
    content: "+";
    font-size: 25px;
    position: absolute;
    top: 14px;
    left: 24px;
    z-index: 5;
}
.map-on-slide {
    background-image: url('./map.png');
    background-size: contain;
}
@media (orientation:portrait) {
    .contacts-container {
        width:100%;
        height: 100%;
        margin:0px;
    }
    .map-on-slide {
        height: 705px;
        width: 100%;
        z-index: 1;
        position: relative;
    }
    .contacts {
        position: absolute;
        z-index:10;
    }
}
@media (max-width:1025px) {
    .contacts-container {
        width: 100%;
    }
}