.form.slide-eight {
    background: url("./img/women.png") no-repeat;
    background-size: 40%;
    background-position-x:20%;
    background-position-y:center;
}
.discount {
    line-height: 0.438;
    -moz-transform: matrix( 1.00138573835247,0,0,1.00000860198094,0,0);
    -webkit-transform: matrix( 1.00138573835247,0,0,1.00000860198094,0,0);
    transform: matrix( 1.00138573835247,0,0,1.00000860198094,0,0);
    font-weight: normal;
}
.discount-text {
    font-weight: normal;
}
.submit {
    position: relative;
}
.submit:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("./img/message.png") no-repeat;
    background-position: center center;
    background-size: contain;

    top: 0px;
    left: 0px;
}
@media (min-width:760px) and (max-width:1366px) {
    .form.slide-eight {
        position: relative;
        background:none;
        justify-content: flex-start;
    }
    .form.slide-eight:after {
        position: absolute;
        content: '';
        width: 450px;
        height: 450px;
        background: url("./img/women.png") no-repeat;
        background-size: contain;
        background-position-x: left;
        background-position-y: bottom;
        transform: none;
        top: 180px;
        left: 470px;
    }
}
@media (max-width:760px) {
    .form.slide-eight {
        background: none;
    }
}